/* ------------------------------------------------------------ *\
	Wrapper
\* ------------------------------------------------------------ */
.wrapper {
	position: relative;
	min-height: 100vh;
	overflow: hidden;

	@include breakpoint-down(tablet) {
		min-height: 90vh;
	}
}
